.main-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  padding: 20px;
}

.content-page {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-left {
  flex: 1;
  padding-right: 20px;
}

.content-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  text-align: left;
}

.text h2 {
  color: #007bff;
  margin-bottom: 20px;
}

.text p {
  margin-bottom: 15px;
  line-height: 1.6;
}

.book-image {
  width: 600px;
  height: auto;
  border-radius: 8px;
}
.container-auth {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
  padding: 20px; 
}